openapi: 3.0.0
info:
  title: Estudos Java API
  description: API for Java Studies Project
  version: 1.0.0
  contact:
    name: API Support
    email: support@estudos-java.com

servers:
  - url: https://api.estudos-java.com/v1
    description: Production server
  - url: https://staging-api.estudos-java.com/v1
    description: Staging server

paths:
  /CriarAlertaRegistro:
    post:
      summary: Create Alert Registration
      description: Creates a new alert registration in the system
      operationId: createAlertRegistration
      security:
        - BearerAuth: []
        - oauth: [write:alerts, read:alerts]
        - token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRegistration'
      responses:
        '201':
          description: Alert registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRegistrationResponse'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication
    oauth:
      type: oauth2
      description: OAuth2 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://auth.estudos-java.com/oauth/authorize
          tokenUrl: https://auth.estudos-java.com/oauth/token
          scopes:
            read:alerts: Read access to alerts
            write:alerts: Write access to alerts
            admin: Administrative access
    token:
      type: apiKey
      in: header
      name: X-API-Token
      description: API token authentication

  schemas:
    AlertRegistration:
      type: object
      required:
        - alertType
        - message
        - priority
      properties:
        alertType:
          type: string
          enum: [info, warning, error, critical]
          description: Type of the alert
        message:
          type: string
          minLength: 1
          maxLength: 1000
          description: Alert message content
        priority:
          type: integer
          minimum: 1
          maximum: 5
          description: Alert priority level (1=lowest, 5=highest)
        timestamp:
          type: string
          format: date-time
          description: Alert timestamp (auto-generated if not provided)
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Additional alert metadata

    AlertRegistrationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the created alert
        alertType:
          type: string
          enum: [info, warning, error, critical]
          description: Type of the alert
        message:
          type: string
          description: Alert message content
        priority:
          type: integer
          minimum: 1
          maximum: 5
          description: Alert priority level
        timestamp:
          type: string
          format: date-time
          description: Alert creation timestamp
        status:
          type: string
          enum: [created, pending, active, resolved]
          description: Current alert status
        createdAt:
          type: string
          format: date-time
          description: Record creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Record last update timestamp

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code identifier
        message:
          type: string
          description: Human-readable error message
        details:
          type: string
          description: Additional error details
        timestamp:
          type: string
          format: date-time
          description: Error occurrence timestamp